// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formfield * {
  vertical-align: top;
}

.post {
	h1 {
		margin-left: 20px;
	}
}

.post h1 em {
  font-size: 13px;
  text-align: right;
  float: right;
  margin-right: 20px;
}

.content {
	margin: 10px;
	color: #272822;
}

.actions {
}

a {
	margin: 10px;
	background-color: red;
	color: yellow;
	padding: 10px;
	border-radius:5px;
}

button {
	margin: 10px;
	background-color: red;
	color: yellow;
	padding: 10px;
	border-radius:5px;
}

input[type=submit] {
	margin: 10px;
	background-color: red;
	color: yellow;
	padding: 10px;
	border-radius:5px;
}


.posts {
	width: 80%;
	background-color: #BBE3F1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.posts-summary {
	text-align: center;
	background-color: #FFFFFF;

	strong {
		font-size: 30px;
	}
}